name: test

on: [push]

jobs:
  test:
    runs-on: ubuntu-22.04
    strategy:
      matrix:
        php-versions: ['8.1', '8.2', '8.3', '8.4', '8.5']
    steps:
      - name: Checkout
        uses: actions/checkout@v3
      - name: Setup PHP
        uses: shivammathur/setup-php@v2
        with:
          php-version: ${{ matrix.php-versions }}
          extensions: gmp
          tools: composer:v2
      - name: Install
        run: composer install
      - name: Test
        run: vendor/bin/phpunit
